body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #0062ff, #da61ff);
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    font-family: inherit;
  }
  
  input, button, textarea, select {
    font-family: inherit;
  }