table {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  h1{
    color: #ffffff;
  }

  table{
    width: 80%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #767676;
  }  
  
  th{
    background-color: #000000;
    color: #ffffff;
  }

  td{
    background-color: #353535;
    color: #ffffff;
    max-width: 200px;
    word-wrap: break-word;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(odd) {
    background-color: #d9d9d9;
  }
  
  tr:hover {
    background-color: #bfbfbf;
  }